@page "/QuartzSchedules"

@using BaringsQuartzUI.Models

<div class="container" style="margin-left: 5rem; margin-right: 5rem; margin-top: 3rem;">
    <div class="row">
        <div class="col">
            <MudDataGrid Items="@this.quartzJobDetails" Dense="true" HeaderClass="jobHeaderCell">
                <Columns>
                    <HierarchyColumn T="@QuartzJobDetail" />
                    <PropertyColumn CellClass="jobDetailCell" Property="x => x.JobName" Title="Job Name" />
                    <PropertyColumn CellClass="jobDetailCell" Property="x => x.JobGroup" Title="Job Group" />
                    <PropertyColumn CellClass="jobDetailCell" Property="x => x.Description" Title="Job Description" />
                    <PropertyColumn CellClass="jobDetailCell" Property="x => x.JobClassName" Title="Job Class" />
                    <TemplateColumn>
                        <HeaderTemplate>Last Runs</HeaderTemplate>
                        <CellTemplate>
                            <LastRunsIcons JobDetail="context.Item" />
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <ChildRowContent>
                    <MudText Typo="Typo.subtitle1" Style="font-weight: bold;">Schedules</MudText>
                    <MudDataGrid Items="@context.Item.Triggers" Dense="true" HeaderClass="mud-theme-info">
                        <Columns>
                            <PropertyColumn Property="x => x.ScheduleName" Title="Schedule Name" HeaderClass="triggerHeaderClass" />
                            <PropertyColumn Property="x => x.CronSchedule" Title="Cron Schedule" HeaderClass="triggerHeaderClass" />
                            <TemplateColumn>
                                <HeaderTemplate Context="JobDetail">
                                    <MudSpacer />
                                    <MudStack Row>
                                        <MudTooltip Text="View the history of this job">
                                            <MudButton Variant="Variant.Outlined"
                                                       Color="Color.Dark"
                                                       EndIcon="@Icons.Material.Filled.History"
                                                       Size="Size.Small"
                                                       Class="grid-button"
                                                       OnClick="@(() => this.ShowHistory(context.Item))">History</MudButton>
                                        </MudTooltip>
                                        <MudTooltip Text="Create a one-off schedule for this job">
                                            <MudButton Variant="Variant.Outlined"
                                                       Color="Color.Success"
                                                       EndIcon="@Icons.Material.Filled.RunCircle"
                                                       Size="Size.Small"
                                                       Class="grid-button"
                                                       OnClick="@(() => this.AddOneOffTrigger(context.Item))">Run</MudButton>
                                        </MudTooltip>
                                        <MudTooltip Text="Add a new schedule for this job">
                                            <MudButton Variant="Variant.Outlined"
                                                       Color="Color.Primary"
                                                       EndIcon="@Icons.Material.Filled.Add"
                                                       Size="Size.Small"
                                                       Class="grid-button"
                                                       OnClick="@(() => this.AddTrigger(context.Item))">Add</MudButton>
                                        </MudTooltip>
                                    </MudStack>
                                </HeaderTemplate>
                                <CellTemplate Context="TriggerDefinition">
                                    <MudStack Row>
                                        <MudSpacer />
                                        <MudTooltip Text="Delete this schedule">
                                            <MudButton Variant="Variant.Outlined"
                                                       Color="Color.Secondary"
                                                       EndIcon="@Icons.Material.Filled.Delete"
                                                       Size="Size.Small"
                                                       Class="grid-button"
                                                       OnClick="@(() => this.DeleteTrigger(TriggerDefinition.Item))">Delete</MudButton>
                                        </MudTooltip>
                                        <MudSpacer />
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                        </Columns>
                    </MudDataGrid>
                    @if (context.Item.JobHistory?.Any() == true)
                    {
                        <MudText Typo="Typo.subtitle1" Style="font-weight: bold;">History</MudText>
                        <MudDataGrid Items="@context.Item.JobHistory" Dense="true" HeaderClass="mud-theme-info" RowStyleFunc="SucceededRowColour">
                            <Columns>
                                <PropertyColumn Property="x => x.JobName" Title="Job Name" HeaderClass="triggerHeaderClass" />
                                <PropertyColumn Property="x => x.TriggerName" Title="Trigger Name" HeaderClass="triggerHeaderClass" />
                                <PropertyColumn Property="x => x.RunCompleted" Title="Run Completed" HeaderClass="triggerHeaderClass" />
                                <PropertyColumn Property="x => x.Message" Title="Message" HeaderClass="triggerHeaderClass" />
                                <PropertyColumn Property="x => x.ExceptionMessage" Title="Exception Message" HeaderClass="triggerHeaderClass" />
                            </Columns>
                            <PagerContent>
                                <MudDataGridPager T="JobHistoryItem" />
                            </PagerContent>
                        </MudDataGrid>
                    }
                </ChildRowContent>
            </MudDataGrid>
        </div>
    </div>
</div>

<style>
    .jobHeaderCell {
        font-weight: 900;
    }

    .jobDetailCell {
        font-weight: 700;
    }

    .triggerHeaderClass {
        color: white !important;
    }

    .grid-button {
        min-width: 6rem;
    }
</style>
