@inherits LayoutComponentBase

<MudThemeProvider @ref="@this.themeProvider" @bind-IsDarkMode="@this.isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Primary">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle(null))" />
        <MudSpacer />
        <MudText Typo="Typo.h6">Barings Api Centre @this.pageTitle</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.DarkMode" Color="Color.Inherit" OnClick="@this.DarlModeToggle" />
    </MudAppBar>
    <MudDrawer @bind-Open="@drawerOpen">
        <NavMenu OnMenuItemSelected="@this.DrawerToggle" />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
